.tasks {
  background-color: white;
  margin-top: 10px;
  width: 100%;
}

.tasks__header {
  border-bottom: 2px solid #e8e8e8;
  margin: 0;
  padding: 20px;
}

@media (max-width: 767px) {
  .tasks__header {
    font-size: 20px;
  }
}

.tasks__list {
  padding: 20px;
  margin-top: 25px;
  list-style-type: none;
}

.js-tasks__list-item {
  padding: 10px;
  border-bottom: 2px solid #e8e8e8;
  display: flex;
  align-items: center;
}

.js-done {
  height: 30px;
  width: 30px;
  background-color: green;
  border: none;
  margin-right: 10px;
  flex-shrink: 0;
}

.js-taskContent {
  flex-grow: 1;
  flex-basis: auto;
}

.js-remove {
  height: 30px;
  width: 30px;
  background-color: red;
  border: none;
  margin-left: 10px;
  color: white;
  flex-shrink: 0;
}
