.tasks {
  background-color: white;
  margin-top: 10px;
  width: 100%;
}

.tasks__header {
  margin: 0;
  padding: 20px;
}

@media (max-width: 767px) {
  .tasks__header {
    font-size: 20px;
  }
}

.tasks__list {
  padding: 20px;
  margin-top: 25px;
  list-style-type: none;
}

.js-tasks__list-item {
  padding: 10px;
  border-bottom: 2px solid #e8e8e8;
  display: flex;
  align-items: center;
}

.js-done {
  height: 30px;
  width: 30px;
  background-color: green;
  border: none;
  color: green;
  flex-shrink: 0;
}

.js-done--ticked {
  color: white;
}

.js-taskContent {
  flex-grow: 1;
  margin: 0 10px;
}

.js-taskContent--done {
  text-decoration: line-through;
}

.js-remove {
  height: 30px;
  width: 30px;
  background-color: red;
  border: none;
  color: white;
  flex-shrink: 0;
}

.tasks__container {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid #e8e8e8;
}

@media (max-width: 767px) {
  .tasks__container {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
}

.tasks__buttonContainer {
  display: grid;
  grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
  .tasks__buttonContainer {
    grid-template-columns: 1fr;
  }
}

.tasks__button {
  background-color: transparent;
  border: none;
  padding: 20px;
  color: teal;
  transition: color 0.3s;
}

.tasks__button:hover {
  color: hsl(180, 100%, 35%);
}

.tasks__button:active {
  color: hsl(180, 100%, 50%);
}

.tasks__button:disabled {
  color: #ccc;
}